body {
    font-size: 16px;
    color: #313131;
    background-color: #f6f6f6;
    letter-spacing: 1px;
    font-weight: 100;
}

/*----Cover & Header---*/
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(3, 3, 3, 0.6);
}

.title-message {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.main {
    color: #fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    font-weight: 100;
    letter-spacing: 7px;
    font-family: 'Lexend Mega';
    display: inline;
}

.main-eng-name {
    color: #fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
    font-weight: 100;
    letter-spacing: 7px;
    font-family: 'Lexend Mega';
    display: inline;
    font-size: 52px;
    color: #C2E888;
}

.title-message .heading {
    color: #fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.8);
    font-weight: 100;
    letter-spacing: 7px;
}

.title-message .heading .name-2 {
    font-family: 'Noto Sans TC';
    font-size: 50px;
    font-weight: 100;
    display: inline;
}

.name-1 {
    font-family: 'Noto Sans TC';
    font-size: 30px;
    font-weight: 100;
    display: inline;
}

.title-message .heading .main {
    font-size: 50px;
}

.title-message .heading .sub-1 {
    font-size: 28px;
    text-align: right;
    padding-top: 10px;
}

.title-message .heading .sub-2 {
    font-size: 28px;
    text-align: left;
    padding-top: 10px;
}

/*---Section Setting---*/

.section {
    padding: 100px 0;
    font-family: 'Lato', 'Noto Sans TC';
}

.part-number {
    display: inline;
    padding: 0 15px;
    color: #C2E888;
    font-family: 'Montserrat', 'Noto Sans TC';
}

/*-------------- SELF INFO  ------------*/


.section-self-intro {
    padding: 30px 0;
    background-image: linear-gradient(to bottom, rgba(227, 227, 227, 0.5), rgba(227, 227, 227, 0.8)100%), url('/resources/img/slide6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #6f6f6f;
}

.self-intro-content {
    font-family: 'Lato', 'Noto Sans TC';
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2);

}


.about-image {
    position: relative;
    border-radius: 50%;
    margin-left: 25%;
    max-width: 60%;
    box-shadow: 0 0 0 3px rgba(194, 232, 136, 0.4);
}


.intro h5 {
    padding: 10px 0 0;
    font-weight: 100;
    font-size: 15px;
}

.intro p {
    padding-top: 20px;
    font-weight: 400;
}

.intro .quote {
    padding-left: 10px;
    padding-bottom: 60px;
    letter-spacing: 2px;
}

.cite {
    float: right;
    font-weight: 400;
}



/*--.line{
    width: 650px;
    height: 40px;
    border-bottom: 2px solid #555555;
    position: absolute;
    }
--*/

.info-link {
    text-decoration: none;
    color: #666;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 40px;
    border: 1px solid #666;
    border-radius: 3px;
}

.info-link:hover {
    text-decoration: inherit;
    color: #FFF;
    background-color: #8b98ac;
    border: 1px solid #6b7d98;
}

.download-cv {
    font-weight: 600;
    padding: 5px;
    text-align: right;
}

.portfolio-button {
    text-align: left;
    font-weight: 600;
    padding: 5px;
}


/*------------------------ 自傳 ----------------------*/
.section-bio {
    background-image: linear-gradient(to bottom, rgba(46, 50, 60, 1) 0%, rgba(46, 50, 60, 0.8) 100%), url('/resources/img/slide5.jpg');
    color: #fff;
}

.main-title {
    padding: 10px 0;
    font-family: 'Montserrat', 'Noto Sans TC';
    font-weight: 700;
    letter-spacing: 8px;
    color: #BEC7D5;
}

.bio-sub {
    text-align: left;
}



/*----------------------- 技能 ------------------------*/

.skill-section {
    background-image: radial-gradient(rgb(46, 50, 60, 0.8) 0%, rgb(46, 50, 60, 1) 100%), url(/resources/img/slide4.jpg);
    color: #fff;
}

.skill-title {
    padding: 30px 0 0 0;
}

.owl-theme {
    padding: 20px 0 10px 0;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #ed7575;
    line-height: 152px;
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
    font-family: 'Montserrat', 'Open Sans';
}

.chart .percent::after {
    content: '%';
}


.skill-title {
    color: #BEC7D5;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 22px;
}

.skill-sub {
    color: #BEC7D5;
    font-weight: 100;
}

/*----- 技能左右鍵 ------*/

.owl-navigation {
    z-index: 6;
}

.owl-navigation .owl-prev,
.owl-navigation .owl-next {
    width: 32px;
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
}

.owl-navigation a.owl-prev {
    left: 40%;
    background-image: url(../../vendors/icons/previous.png);
    cursor: pointer;
}

.owl-navigation a.owl-next {
    right: 40%;
    background-image: url(../../vendors/icons/next.png);
    cursor: pointer;
}

.owl-navigation .owl-prev,
.owl-navigation .owl-next {
    position: absolute;
}


/*--顯示圖片左右兩邊按鍵可以上一個圖片或下一個圖片
.slides-navigation {
    z-index: 6;
}

.slides-navigation .prev, 
.slides-navigation .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../../vendors/icons/previous.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../../vendors/icons/next.png);
}
*/

/*------------------Portfolio-------------------------*/

.filter {
    text-align: center;
    width: 100%;
}

.section .portfolio-heading {
    text-align: center;
    padding-bottom: 48px;
    width: 100%;
}

.filter a {
    text-decoration: none;
    color: #bdc3c7;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    padding: 10px 18px;
    letter-spacing: 2px;
    display: block;
}

.filter li {
    font-weight: 400;
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #ed7575;
    border-color: #ed7575;
    color: #fff;
}

.items-container {
    width: 120%;
}


.items li {
    display: inline-block;
    padding: 5px;
}


.items li img {
    width: 100%;
}

.items .item {
    position: relative;
    display: block;

}

















/*----------------- Styling social icons -------------*/
.social-links {
    list-style: none;
}

.social-links li {
    display: inline-block;
    margin-right: 10px;
}


.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}

.social-links li a:hover,
.social-links li a:active {
    color: #ddd;
}

.social-links a:link,
.socail-links a:visited {
    font-size: 170%;
}

.ion-logo-facebook,
.ion-logo-github,
.ion-logo-linkedin,
.ion-md-mail {
    transition: color 0.3s;
}

.ion-logo-facebook:hover {
    color: #4267B2;
}

.ion-logo-github:hover {
    color: #211f1f;
}

.ion-logo-linkedin:hover {
    color: #007bb5;
}

.ion-md-mail:hover {
    color: #ea4335;
}
